<div class="card mb-3 shadow block-status" [ngStyle]="{'background-color': color}">
  <div class="card-header name">
   {{serverInput.name}}
  </div>
  <div class="card-body status">
    {{serverStatus}}
    <button (click)="sendServerAction(serverInput.isOnline)"  class="btn btn-default action">{{buttonText}}</button>
  </div>
</div>
