<div class="section-container">
  <div class="row-fluid cards">
    <div class="card-deck">
      <!--card 1-->
      <div class="card mb-3 shadow card-theme">
        <div class="card-header card-header-theme">
          <h5>Daily Orders</h5>
        </div>
        <div class="card-body">
          <app-bar-chart></app-bar-chart>
        </div>
      </div>

      <!--card 2-->
      <div class="card mb-3 shadow card-theme">
        <div class="card-header card-header-theme">
          <h5>Order by customer</h5>
        </div>
        <div class="card-body">
          <app-pie-chart *ngIf='salesDataByCustomer' [inputData]='salesDataByCustomer' [limit]='4'></app-pie-chart>
        </div>
      </div>

      <!--card 3-->
      <div class="card mb-3 shadow card-theme">
        <div class="card-header card-header-theme">
          <h5>Order by state</h5>
        </div>
        <div class="card-body">
          <app-pie-chart *ngIf='salesDataByState' [inputData]='salesDataByState' [limit]='5'></app-pie-chart>
        </div>
      </div>


    </div>
  </div>

  <div class="row-fluid cards">
    <div class="card shadow card-theme card-bottom">
      <div class="card-header card-header-theme">
        <h5>Monthly Sales by Product</h5>
      </div>

<!--        line chart-->
      <div class="card-body">
        <app-line-chart></app-line-chart>
      </div>
    </div>
  </div>
</div>
