<div>
  <canvas baseChart
          style="width: 40%; height: 40%;"
          *ngIf="lineChartData"
          [datasets]="lineChartData"
          [colors]="lineChartColors"
          [labels]="lineChartLabels"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          [options]="lineChartOptions">

  </canvas>

</div>
