*{
  box-sizing: border-box;
}

html{
  height: 100%;
}
body{
  font-family: 'Source Code Pro',sans-serif;
  background-color: #1c2228;
  color: #f0fff0;
  height: 100%
}
a{
  color: #44a0cc;
}

a:hover{
  color: aquamarine;
}

.shadow{
  box-shadow: 0 8px 12px rgba(0,0,0,0.2), 0 5px 6px rgba(0,0,0,0.3);
}

.section-container {
  padding: 30px;
}

.card-theme{
  background-color: #202030;
  border:none;
  border-radius: 2px;
}

.card-heading-theme{
  color: #eee;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  padding: 12px;
}

.card-body-theme{
  background-color: #455060;
}

.cards{
  display: flex;
  flex-direction: column;
}

.section-container{
  padding: 30px;
}
